<a href="https://colab.research.google.com/github/gomathiaravindan/Machine_Learning/blob/main/1818121_EXP_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv('gender.csv')
df

    Gender    Height     Weight  Shoe_size
0     Male  6.033333  176.36960  17.460317
1     Male  5.900000  154.32340  17.063492
2   Female  5.333333  132.27720  15.079365
3   Female  5.133333  119.04948  14.682540
4     Male  5.533333  143.30030  15.873016
5     Male  6.333333  198.41580  18.650794
6   Female  5.833333  141.09568  15.476190
7   Female  5.900000  154.32340  15.873016
8   Female  5.300000  121.25410  14.682540
9     Male  5.700000  165.34650  16.666667
10    Male  6.033333  187.39270  17.063492
11    Male  6.133333  154.32340  17.857143
12  Female  4.333333  110.23100  13.888889
13    Male  5.666667  149.91416  15.873016
14  Female  4.833333  123.45872  15.476190
15  Female  5.333333  125.66334  15.079365
16  Female  5.133333  130.07258  14.285714
17    Male  6.233333  167.55112  17.063492
18    Male  5.933333  176.36960  18.650794
19  Female  5.066667  123.45872  14.285714
20  Female  4.966667   99.20790  15.476190
21  Female  5.233333  105.82176  13.888889
22    Male  6.100000  123.45872  17.857143
23    Male  6.033333  152.11878  17.063492
24  Female  4.800000  132.27720  15.873016
25    Male  4.866667  154.32340  18.650794
26    Male  5.133333  176.36960  18.253968
27  Female  6.100000   94.79866  13.095238
28    Male  5.566667  110.23100  15.873016

In [ ]:
df.drop('Height', axis='columns',inplace=True)
df.head()

   Gender     Weight  Shoe_size
0    Male  176.36960  17.460317
1    Male  154.32340  17.063492
2  Female  132.27720  15.079365
3  Female  119.04948  14.682540
4    Male  143.30030  15.873016

In [ ]:
A = df[['Weight', 'Shoe_size']]
B = df['Gender']
A.head()

      Weight  Shoe_size
0  176.36960  17.460317
1  154.32340  17.063492
2  132.27720  15.079365
3  119.04948  14.682540
4  143.30030  15.873016

In [ ]:
from sklearn.model_selection import train_test_split
A_train, A_test, B_train, B_test = train_test_split(A,B, test_size=0.3,random_state=1)

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(A_train, B_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
B_pred = model.predict(A_test)

from sklearn.metrics import accuracy_score
print("Accuracy: ",accuracy_score(B_pred,B_test))

Accuracy:  1.0

In [ ]:
model.predict([[112.118,13.06]])

array(['Female'], dtype='<U6')